@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  background-color: #120E19;
  color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*===========================================
sp-nav
===========================================*/
.l-header {
  width: 100%;
  background-color: rgba(17, 17, 17, .5);
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  height: 3.125rem;
  z-index: 8888;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.l-header.change-color {
  background-color: #111111;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.l-header__logo {
  width: 70px;
  width: 4.375rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    width: 5.9375rem;
  }
}

.l-header__logo a {
  width: inherit;
}

.l-header__logo img {
  width: inherit;
}
@media screen and (min-width: 768px) {
  .l-header__logo img {
    padding-top: 0.125rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-section {
  margin-bottom: 90px;
  margin-bottom: 5.625rem;
}
@media screen and (min-width: 768px) {
  .l-section {
    margin-bottom: 9.5rem;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #333;
  color: #fff;
}

/* 全体背景の斜め線 bg__border
---------------------------------------------*/
.c-bg-border {
  position: absolute;
  top: 1055px;
  top: 65.9375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  width: 0.0625rem;
  height: 736px;
  height: 46rem;
  background-color: #F9F871;
  -webkit-transform: rotate(-29deg);
          transform: rotate(-29deg);
  overflow: hidden;
  z-index: -5;
}
@media screen and (min-width: 768px) {
  .c-bg-border {
    position: absolute;
    top: 62.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0.0625rem;
    height: 140.625vw;
    background-color: #F9F871;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    z-index: -5;
    overflow: hidden;
  }
}

.c-bg-border2 {
  position: absolute;
  top: 1840px;
  top: 115rem;
  left: 61%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  width: 0.0625rem;
  height: 1000px;
  height: 62.5rem;
  background-color: #F9F871;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  overflow: hidden;
  z-index: -5;
}
@media screen and (min-width: 768px) {
  .c-bg-border2 {
    position: absolute;
    top: 157rem;
    left: 44%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0.0625rem;
    height: 150.15625vw;
    background-color: #F9F871;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -5;
    overflow: hidden;
  }
}

.c-drawer-menu {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .c-drawer-menu {
    display: none;
  }
}

/*OPEN時の動き*/
.c-drawer-menu.open {
  display: block;
  opacity: 1;
  -webkit-animation: open 1s ease 0s;
          animation: open 1s ease 0s;
  background-color: #333;
}

.c-drawer-menu__items {
  margin: 209px auto;
  margin: 13.0625rem auto;
}

.c-drawer-menu__item {
  display: block;
  text-align: center;
}
.c-drawer-menu__item:not(:last-child) {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.c-drawer-menu__item a {
  width: inherit;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.125em;
}

.js-drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7777;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .js-drawer-menu {
    display: none;
  }
}

.js-drawer-menu__bg.open {
  display: block;
}

html.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.c-hamburger {
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger span {
  position: relative;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 22px;
  width: 1.375rem;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: 4px 0;
  margin: 0.25rem 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*is-OPEN時の中身*/
@-webkit-keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*===========================================
pc-nav
===========================================*/
.c-pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .c-pc-nav {
    display: block;
  }
}

.c-pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-pc-nav__item {
  height: inherit;
}

.c-pc-nav__item a {
  height: inherit;
  display: grid;
  place-items: center;
  padding: 0 17.2px;
  padding: 0 1.075rem;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.05em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .c-pc-nav__item a:hover::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #FFEA2E;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.c-pc-nav__item.c-pc-nav__item--white {
  margin-left: 16px;
  margin-left: 1rem;
}

.c-pc-nav__item.c-pc-nav__item--white a {
  background-color: #fff;
  padding: 0 32px;
  padding: 0 2rem;
  color: #333;
  letter-spacing: 0.1em;
}

.c-pc-nav__item.c-pc-nav__item--white a:hover {
  background-color: #333;
  color: #fff;
}

.c-pc-nav__item.c-pc-nav__item--white a:hover::after {
  display: none;
}

/* section-title
---------------------------------------------*/
.c-section-title__container {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-section-title__container {
    padding-bottom: 3.625rem;
    position: relative;
  }
}

.c-section-title {
  text-align: center;
  padding-top: 55px;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: 1.875rem;
    text-align: center;
    display: block;
    letter-spacing: 0.07em;
    padding-top: 0;
  }
}

.c-section-title__sub {
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  color: #F9F871;
  opacity: 20%;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .c-section-title__sub {
    -webkit-transform: none;
            transform: none;
    font-size: 6.875rem;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.018em;
  }
}

@media screen and (min-width: 768px) {
  .c-section-title__sub.c-section-title__sub--right {
    right: 0;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .p-top-content-margin {
    margin-bottom: 9.5rem;
  }
}

.p-top-content__header {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-top-content__header {
    margin-bottom: 0;
  }
}

.p-top-content__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-top-content__list {
    margin-top: -0.25rem;
    background: #fff;
  }
}

.p-top-content__item {
  width: 50%;
  height: auto;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-top-content__item {
    width: 25%;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

@media screen and (min-width: 768px) {
  .p-top-content__item:hover {
    opacity: 0.6;
  }
}

.p-top-content__item a {
  width: inherit;
}

.p-top-content-unit__body {
  width: 100%;
  height: 100%;
  position: relative;
}

.p-top-content-unit__img {
  padding-top: 89.3617021277%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-top-content-unit__img {
    padding-top: 100%;
  }
}

.p-top-content__img1 {
  background-image: url(/images/common/content-1.jpg);
}

.p-top-content__img2 {
  background-image: url(/images/common/content-2.jpg);
}

.p-top-content__img3 {
  background-image: url(/images/common/content-3.jpg);
}

.p-top-content__img4 {
  background-image: url(/images/common/content-4.jpg);
}

.p-top-content-unit__body p {
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .p-top-content-unit__body p {
    font-size: 1.5625rem;
  }
}

.p-top-mainview {
  height: 100vh;
  position: relative;
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-top-mainview {
    margin-bottom: 2.0625rem;
  }
}

.p-top-mainview > .wrap {
  height: inherit;
  padding: 0;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.p-top-mainview .swiper-container ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.15;
  z-index: 1;
}

.p-top-mainview .swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.p-top-mainview .slide-img img {
  display: block;
  height: 100vh;
}

.p-top-mainview__titlebox {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
  z-index: 5;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__titlebox {
    top: 44%;
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.p-top-mainview__title {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1;
  display: block;
  width: 100%;
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
  letter-spacing: 0.03em;
  margin-top: 1px;
  margin-top: 0.0625rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__title {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1.375rem;
    margin-top: 4px;
    letter-spacing: 0.01em;
  }
}

.p-top-mainview__subtitle {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__subtitle {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-top: 1.5625rem;
    letter-spacing: 0.02em;
  }
}

.p-top-news {
  margin-bottom: 122px;
  margin-bottom: 7.625rem;
}
@media screen and (min-width: 768px) {
  .p-top-news {
    padding: 0 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 115.125rem;
    width: 100%;
    margin: auto;
    margin-bottom: 9.375rem;
  }
}

.p-top-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-top-news__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-top-news-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-top-news-item__header {
    margin-right: 2.5rem;
    margin-bottom: 0;
  }
}

.p-top-news-item__date {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .p-top-news-item__date {
    margin-right: 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.p-top-news-item__genre {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .p-top-news-item__genre {
    padding: 0.25rem 1.375rem;
    margin-top: 0.0625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.p-top-news-item__title {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-top-news-item__title {
    max-width: 36rem;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news-item__titletext {
    border-bottom: 1px solid #333;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news-item__titletext:hover {
    border-bottom: 1px solid #fff;
  }
}

.p-top-news__footer {
  padding-top: 10px;
  padding-top: 0.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-top-news__footer {
    padding-top: 0;
    margin-left: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15%;
            flex: 0 1 15%;
  }
}

.p-top-news__button {
  display: inline-block;
  padding: 10px;
  padding: 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  color: #fff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-top-news__button {
    background-color: #fff;
    border: none;
    padding: 0.1875rem 1.5625rem;
    position: relative;
    display: inline-block;
    color: #333;
    text-align: center;
    width: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
            flex: 0 0 13%;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: #333;
    border: 1px solid #333;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button:hover {
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */
