@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

body {
  background-color: #120E19;
  color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-breadcrumb {
  margin-top: 16px;
  margin-top: 1rem;
}

/*===========================================
sp-nav
===========================================*/
.l-header {
  width: 100%;
  background-color: rgba(17, 17, 17, .5);
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  height: 3.125rem;
  z-index: 8888;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.l-header.change-color {
  background-color: #111111;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.l-header__logo {
  width: 70px;
  width: 4.375rem;
  position: relative;
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    width: 5.9375rem;
  }
}

.l-header__logo a {
  width: inherit;
}

.l-header__logo img {
  width: inherit;
}
@media screen and (min-width: 768px) {
  .l-header__logo img {
    padding-top: 0.125rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-pagination {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-pagination {
    margin-top: 6.5rem;
  }
}

.l-related {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .l-related {
    margin-top: 6.25rem;
  }
}

.l-section {
  margin-bottom: 90px;
  margin-bottom: 5.625rem;
}
@media screen and (min-width: 768px) {
  .l-section {
    margin-bottom: 9.5rem;
  }
}

.l-single-inner {
  width: 100%;
  max-width: 800px;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.l-single-pagination {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .l-single-pagination {
    margin-top: 6.5625rem;
  }
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

/* 全体背景の斜め線 bg__border
---------------------------------------------*/
.c-bg-border {
  position: absolute;
  top: 1055px;
  top: 65.9375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  width: 0.0625rem;
  height: 736px;
  height: 46rem;
  background-color: #F9F871;
  -webkit-transform: rotate(-29deg);
          transform: rotate(-29deg);
  overflow: hidden;
  z-index: -5;
}
@media screen and (min-width: 768px) {
  .c-bg-border {
    position: absolute;
    top: 62.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0.0625rem;
    height: 140.625vw;
    background-color: #F9F871;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    z-index: -5;
    overflow: hidden;
  }
}

.c-bg-border2 {
  position: absolute;
  top: 1840px;
  top: 115rem;
  left: 61%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  width: 0.0625rem;
  height: 1000px;
  height: 62.5rem;
  background-color: #F9F871;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  overflow: hidden;
  z-index: -5;
}
@media screen and (min-width: 768px) {
  .c-bg-border2 {
    position: absolute;
    top: 157rem;
    left: 44%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0.0625rem;
    height: 150.15625vw;
    background-color: #F9F871;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: -5;
    overflow: hidden;
  }
}

.c-card__link {
  width: 100%;
}

.c-card__body {
  background-color: #fff;
  color: #333;
  padding: 2px 22px 17px;
  padding: 0.125rem 1.375rem 1.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.c-card__link:hover .c-card__body {
  background-color: #333;
  color: #fff;
}

.c-card__link:hover .c-card__genre {
  color: #333;
}

.c-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2;
  line-height: 1.9;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .c-card__title {
    letter-spacing: 0.06em;
  }
}

.c-card__text {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.07em;
  margin-top: 6px;
}
@media screen and (min-width: 768px) {
  .c-card__text {
    line-height: 1.7;
    letter-spacing: -0.06em;
    margin-top: 0.1875rem;
    margin-top: 0;
  }
}

.c-card__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  margin-top: 0.3125rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .c-card__footer {
    margin-top: 0.5rem;
  }
}

.c-card__genre {
  background-color: #FFEA2E;
  padding: 4px;
  padding: 0.25rem;
  display: inline-block;
  letter-spacing: -0.05em;
}

.c-card__genre a {
  color: #333;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2;
}

.c-card__date {
  font-size: 14px;
  font-size: 0.875rem;
}

.c-card:first-child {
  position: relative;
}

.c-card > .c-card__is-new {
  margin-left: 4px;
  margin-left: 0.25rem;
  position: absolute;
  top: -18px;
  top: -1.125rem;
  left: -20px;
  left: -1.25rem;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .c-card > .c-card__is-new {
    top: -0.875rem;
  }
}

.c-card__is-new span {
  display: inline-block;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  background-color: #FFBA6A;
  border-radius: 50%;
  line-height: 60px;
  line-height: 3.75rem;
  text-align: center;
  color: #3D3D3D;
  letter-spacing: 0.12em;
}

@media screen and (min-width: 768px) {
  .c-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.c-cards__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .c-cards__item {
    width: calc(33.3% - 16.66667px);
  }
}

@media screen and (min-width: 768px) {
  .c-cards__item:not(:nth-child(3n+1)) {
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .c-cards__item:nth-child(n+4) {
    margin-top: 1.5625rem;
  }
}

.c-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-category__btn:not(:first-child) {
  margin-left: 40px;
  margin-left: 2.5rem;
}

.c-category__btn {
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  padding: 3px 10px;
  padding: 0.1875rem 0.625rem;
}

.c-category__btn--active {
  background-color: #fff;
  color: #333;
}

.c-drawer-menu {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .c-drawer-menu {
    display: none;
  }
}

/*OPEN時の動き*/
.c-drawer-menu.open {
  display: block;
  opacity: 1;
  -webkit-animation: open 1s ease 0s;
          animation: open 1s ease 0s;
  background-color: #111;
}

.c-drawer-menu__items {
  margin: 209px auto;
  margin: 13.0625rem auto;
}

.c-drawer-menu__item {
  display: block;
  text-align: center;
}
.c-drawer-menu__item:not(:last-child) {
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.c-drawer-menu__item a {
  width: inherit;
  height: inherit;
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.125em;
}

.js-drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7777;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .js-drawer-menu {
    display: none;
  }
}

.js-drawer-menu__bg.open {
  display: block;
}

html.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.c-hamburger {
  z-index: 9999;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}

.c-hamburger span {
  position: relative;
  display: block;
  height: 2px;
  height: 0.125rem;
  width: 22px;
  width: 1.375rem;
  background: #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: 4px 0;
  margin: 0.25rem 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*is-OPEN時の中身*/
@-webkit-keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.c-message {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  text-align: center;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .c-message {
    font-size: 1.875rem;
    line-height: 1.67;
    letter-spacing: 0.06em;
  }
}

.c-page-btn a {
  display: inline-block;
  padding: 2px 8px;
  padding: 0.125rem 0.5rem;
  border: 1px solid #fff;
}

.c-page-btn.is-now {
  color: #333;
  background-color: #fff;
}

.c-pagetop {
  width: 45px;
  width: 2.8125rem;
  height: 45px;
  height: 2.8125rem;
  position: fixed;
  right: 20px;
  right: 1.25rem;
  bottom: 40px;
  bottom: 2.5rem;
  z-index: 8888;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media screen and (min-width: 768px) {
  .c-pagetop {
    bottom: 2rem;
    right: 2rem;
  }
}

.c-pagetop__icon {
  position: absolute;
  top: 40%;
  left: 23%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: solid 2px #333;
  border-left: solid 2px #333;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .c-pagetop:hover {
    background-color: #333;
  }
}

.c-pagetop:hover .c-pagetop__icon {
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
}

.c-pagination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-pagination__container :not(:first-child) {
  margin-left: 16px;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .c-pagination__container :not(:first-child) {
    margin-left: 1.5rem;
  }
}

/*===========================================
pc-nav
===========================================*/
.c-pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .c-pc-nav {
    display: block;
  }
}

.c-pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-pc-nav__item {
  height: inherit;
}

.c-pc-nav__item a {
  height: inherit;
  display: grid;
  place-items: center;
  padding: 0 17.2px;
  padding: 0 1.075rem;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.05em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .c-pc-nav__item a:hover::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    bottom: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #FFEA2E;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.c-pc-nav__item.c-pc-nav__item--white {
  margin-left: 16px;
  margin-left: 1rem;
}

.c-pc-nav__item.c-pc-nav__item--white a {
  background-color: #fff;
  padding: 0 32px;
  padding: 0 2rem;
  color: #333;
  letter-spacing: 0.1em;
}

.c-pc-nav__item.c-pc-nav__item--white a:hover {
  background-color: #333;
  color: #fff;
}

.c-pc-nav__item.c-pc-nav__item--white a:hover::after {
  display: none;
}

.c-point-item {
  position: relative;
  border: 1px solid #fff;
  padding-top: 44px;
  padding-top: 2.75rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.c-point-item__title {
  display: inline-block;
  letter-spacing: 0.02em;
  padding: 8px 25px;
  padding: 0.5rem 1.5625rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  background-color: #111;
  z-index: 2;
  position: absolute;
  top: -23px;
  top: -1.4375rem;
  left: 38px;
  left: 2.375rem;
}

.c-point-item__text {
  width: 90%;
  margin: auto;
  line-height: 1.875;
  letter-spacing: 0.025em;
}

.c-prev, .c-next a {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 0.125em;
  padding: 2px 12px;
  padding: 0.125rem 0.75rem;
  border: 1px solid #fff;
}

.c-return-btn {
  display: block;
  margin: auto;
  font-size: 20px;
  font-size: 1.25rem;
  width: 100%;
  padding: 10px;
  padding: 0.625rem;
  background-color: #333;
  border: 1px solid #fff;
  text-align: center;
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .c-return-btn {
    font-size: 1rem;
    width: 22.5rem;
  }
}

/* section-title
---------------------------------------------*/
.c-section-title__container {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-section-title__container {
    padding-bottom: 3.625rem;
    position: relative;
  }
}

.c-section-title {
  text-align: center;
  padding-top: 55px;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .c-section-title {
    font-size: 1.875rem;
    text-align: center;
    display: block;
    letter-spacing: 0.07em;
    padding-top: 0;
  }
}

.c-section-title__sub {
  display: block;
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  color: #F9F871;
  opacity: 20%;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .c-section-title__sub {
    -webkit-transform: none;
            transform: none;
    font-size: 6.875rem;
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 0.018em;
  }
}

@media screen and (min-width: 768px) {
  .c-section-title__sub.c-section-title__sub--right {
    right: 0;
    text-align: right;
  }
}

.c-single-header__title {
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-single-header__title {
    font-size: 1.4375rem;
  }
}

.c-single-header__subtitle {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .c-single-header__subtitle {
    margin-top: 2rem;
  }
}

.c-single-header__subtitle span {
  letter-spacing: 0.1em;
  border: 1px solid #fff;
  padding: 8px 20px;
  padding: 0.5rem 1.25rem;
  margin-left: 30px;
  margin-left: 1.875rem;
}

.c-util-body {
  padding-top: 24px;
  padding-top: 1.5rem;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .c-util-body {
    padding: 0;
    background-color: #333;
  }
}

.c-util-body__title {
  display: block;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .c-util-body__title {
    font-size: 1.5625rem;
    margin-bottom: 2.25rem;
    text-align: left;
    letter-spacing: 0.02em;
  }
}

.c-util-body__text {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
  letter-spacing: 0.125em;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .c-util-body__text {
    margin-bottom: 3.25rem;
    text-align: left;
    line-height: 2.1875;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .c-util-body__footer {
    text-align: left;
  }
}

.c-util-link {
  width: 100%;
  display: inline-block;
  padding: 10px;
  padding: 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  color: #fff;
  letter-spacing: 0.125em;
}
@media screen and (min-width: 768px) {
  .c-util-link {
    width: inherit;
    font-size: 1rem;
    line-height: 3.375;
    padding: 0.125rem 8.375rem;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .c-util-link--contact {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    padding: 0.9375rem 6.25rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  .c-util-link:hover {
    color: #333;
  }
}

@media screen and (min-width: 768px) {
  .c-util-link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: #fff;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    border: none;
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .c-util-link:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.p-content-mainview {
  background-image: url(/wp-content/themes/codeups-kadai/images/sp/content-MV.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-content-mainview {
    background-image: url(/wp-content/themes/codeups-kadai/images/pc/content-MV.jpg);
  }
}

.p-content-mainview h1 {
  z-index: 2;
}

.p-content__img1 {
  background-image: url(/wp-content/themes/codeups-kadai/images/common/works-2.jpg);
}

.p-content__img2 {
  background-image: url(/wp-content/themes/codeups-kadai/images/common/content-2.jpg);
}

.p-content__img3 {
  background-image: url(/wp-content/themes/codeups-kadai/images/common/content-3.jpg);
}

.p-content__img4 {
  background-image: url(/wp-content/themes/codeups-kadai/images/common/content-4.jpg);
}

@media screen and (min-width: 768px) {
  .p-footer {
    padding: 2rem 0 1.625rem;
  }
}

.p-footer__container {
  text-align: center;
  margin: 48px auto 0;
  margin: 3rem auto 0;
}
@media screen and (min-width: 768px) {
  .p-footer__container {
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.p-footer__logo {
  width: 18.667%;
  display: block;
  margin: auto;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .p-footer__logo {
    width: 4.375rem;
    margin: 0;
  }
}

.p-footer__logo img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-footer__menu {
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-footer__menu__item:not(:last-child) {
  margin-bottom: 7.5px;
  margin-bottom: 0.46875rem;
}
@media screen and (min-width: 768px) {
  .p-footer__menu__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.p-footer__menu__item {
  height: inherit;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .p-footer__menu__item a {
    height: inherit;
    display: grid;
    place-items: center;
    padding: 0.3125rem 1rem 0;
    font-size: 1rem;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    letter-spacing: 0.1em;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__menu__item a:hover::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 0.0625rem;
    bottom: -0.125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #FFEA2E;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.p-footer__menu__item--contact a {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .p-footer__menu__item--contact a {
    padding-right: 0;
    padding-left: 0;
    margin-left: 1rem;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .p-footer__menu__item--contact a:hover::after {
    position: absolute;
    content: "";
    width: 120%;
    height: 0.0625rem;
    bottom: -0.125rem;
    right: 0;
    background-color: #FFEA2E;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.p-footer__copyright {
  text-align: center;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 0.1em;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-footer__copyright {
    font-size: 0.9375rem;
    margin-top: 4.6875rem;
    margin-bottom: 0;
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 768px) {
  .p-news-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-news-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
  margin-bottom: 0.875rem;
}
@media screen and (min-width: 768px) {
  .p-news-item__header {
    margin-right: 2.5rem;
    margin-bottom: 0;
  }
}

.p-news-item__date {
  margin-right: 32px;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news-item__date {
    margin-right: 2.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.p-news-item__genre {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  padding: 5px 20px;
  padding: 0.3125rem 1.25rem;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .p-news-item__genre {
    padding: 0.25rem 1.375rem;
    margin-top: 0.0625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.p-news-item__title {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .p-news-item__title {
    max-width: 34rem;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .p-news-item__titletext {
    border-bottom: 1px solid #111;
  }
}

@media screen and (min-width: 768px) {
  .p-news-item__titletext:hover {
    border-bottom: 1px solid #fff;
  }
}

.p-news-mainview {
  background-image: url(/wp-content/themes/codeups-kadai/images/sp/news-MV.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-news-mainview {
    background-image: url(/wp-content/themes/codeups-kadai/images/pc/news-MV.jpg);
  }
}

.l-news-pagination {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-news-pagination {
    margin-top: 6.5rem;
  }
}

.p-news-section {
  margin-top: 85px;
  margin-top: 5.3125rem;
}

.p-news-section .news__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-news-section .p-news__item:nth-child(n+1) {
  margin-top: 32px;
  margin-top: 2rem;
}

.p-news-pagination {
  margin-top: 104px;
  margin-top: 6.5rem;
}

@media screen and (min-width: 768px) {
  .p-news__item {
    width: 100%;
  }
}

.p-news__item .p-news-item__title {
  margin-right: 0;
}

.p-related__title {
  width: 100%;
  background-color: #333;
  border: 1px solid #fff;
  text-align: center;
  letter-spacing: 0.125em;
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
}

.p-related__body {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-related__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5rem;
  }
}

.p-related__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-related__item {
    width: calc(25% - 18.75px);
  }
}

.p-related__item:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-related__item:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-related__item:not(:nth-child(4n+1)) {
    margin-left: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-related__item:nth-child(n+5) {
    margin-top: 1.5625rem;
  }
}

.p-section-404 {
  margin: 80px auto 120px;
  margin: 5rem auto 7.5rem;
}
@media screen and (min-width: 768px) {
  .p-section-404 {
    margin: 9.375rem auto;
  }
}

.p-section-404__title {
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0.05em;
  color: rgba(255, 234, 46, .3);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-section-404__title {
    font-size: 3.75rem;
    letter-spacing: 0.03em;
  }
}

.p-section-404__text {
  margin-top: 80px;
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .p-sub-content-unit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-sub-content-unit--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .p-sub-content-unit--right .p-sub-content-unit__body {
    padding-left: 0;
    padding-right: 1.875rem;
  }
}

.p-sub-content-unit__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-sub-content-unit__img {
    width: 50%;
  }
}

.p-sub-content-unit__imgsize {
  width: 100%;
  padding-top: 69.7860962567%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-sub-content-unit__imgsize {
    width: 100%;
    padding-top: 66.7272727273%;
  }
}

.p-sub-content-unit__body {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-sub-content-unit__body {
    width: 50%;
    padding-left: 1.875rem;
  }
}

.p-sub-content-unit__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .p-sub-content-unit__title {
    font-size: 1.5625rem;
    text-align: left;
  }
}

.p-sub-content-unit__text {
  margin-top: 24px;
  margin-top: 1.5rem;
  display: block;
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.125em;
}
@media screen and (min-width: 768px) {
  .p-sub-content-unit__text {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.p-sub-content__lead {
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .p-sub-content__lead {
    max-width: 60%;
    margin-top: 4.375rem;
  }
}

.p-sub-content__title {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .p-sub-content__title {
    font-size: 1.5625rem;
    letter-spacing: 0.08em;
  }
}

.p-sub-content__text {
  display: block;
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.1875;
  letter-spacing: 0.125em;
}

.p-sub-content__wrap {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .p-sub-content__wrap {
    margin-top: 9.375rem;
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-sub-content__wrap {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.p-sub-content__unit:not(:first-child) {
  margin-top: 48px;
  margin-top: 3rem;
}

.p-sub-main {
  width: 100%;
  height: 425px;
  height: 26.5625rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-sub-main {
    height: 23.125rem;
  }
}

.p-sub-main::before {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
}

.p-sub-main__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  font-size: 30px;
  font-size: 1.875rem;
}

.p-sub-works-item {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-sub-works-item {
    width: calc(50% - 48px);
  }
}

.p-sub-works-item:not(:first-child) {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .p-sub-works-item:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-sub-works-item:nth-child(even) {
    margin-left: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .p-sub-works-item:nth-child(n+3) {
    margin-top: 7.125rem;
  }
}

@media screen and (min-width: 768px) {
  .p-sub-works-item a:hover {
    opacity: 0.7;
  }
}

.p-sub-works-item__img {
  width: 100%;
}

.p-sub-works-item__cate {
  padding: 8px 20px;
  padding: 0.5rem 1.25rem;
  background-color: #111;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.p-sub-works-item__title {
  text-align: center;
  margin-top: 15px;
  margin-top: 0.9375rem;
  background-color: #111;
}

.p-sub-works__list {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-sub-works__list {
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-top-blog {
    margin-bottom: 9.25rem;
  }
}

.p-top-blog__header {
  margin-bottom: 68px;
  margin-bottom: 4.25rem;
}
@media screen and (min-width: 768px) {
  .p-top-blog__header {
    margin-bottom: 0;
  }
}

.p-top-blog__header > .c-section-title__container {
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .p-top-blog__footer {
    text-align: center;
    margin-top: 3.5rem;
  }
}

.p-contact {
  margin-top: 120px;
  margin-top: 7.5rem;
  margin-bottom: 54px;
  margin-bottom: 3.375rem;
}
@media screen and (min-width: 768px) {
  .p-contact {
    margin-bottom: 0;
  }
}

.p-contact__header {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.p-contact__bg {
  background-color: #3D3D3D;
  color: #fff;
}

.p-contact__container {
  padding-top: 40px;
  padding-top: 2.5rem;
  padding-bottom: 64px;
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .p-contact__container {
    padding-top: 8.1875rem;
    padding-bottom: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__body {
    margin-top: 1.1875rem;
    text-align: center;
  }
}

.p-contact__text {
  letter-spacing: 0.13em;
}

.p-contact__footer {
  margin-top: 43px;
  margin-top: 2.6875rem;
}
@media screen and (min-width: 768px) {
  .p-contact__footer {
    margin-top: 3.75rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .p-top-content-margin {
    margin-bottom: 9.5rem;
  }
}

.p-top-content__header {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-top-content__header {
    margin-bottom: 0;
  }
}

.p-top-content__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-top-content__list {
    margin-top: -0.25rem;
    background: #fff;
  }
}

.p-top-content__item {
  width: 50%;
  height: auto;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-top-content__item {
    width: 25%;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

@media screen and (min-width: 768px) {
  .p-top-content__item:hover {
    opacity: 0.6;
  }
}

.p-top-content__item a {
  width: inherit;
}

.p-top-content-unit__body {
  width: 100%;
  height: 100%;
  position: relative;
}

.p-top-content-unit__img {
  padding-top: 89.3617021277%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-top-content-unit__img {
    padding-top: 100%;
  }
}

.p-top-content__img1 {
  background-image: url(/images/common/content-1.jpg);
}

.p-top-content__img2 {
  background-image: url(/images/common/content-2.jpg);
}

.p-top-content__img3 {
  background-image: url(/images/common/content-3.jpg);
}

.p-top-content__img4 {
  background-image: url(/images/common/content-4.jpg);
}

.p-top-content-unit__body p {
  font-size: 20px;
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .p-top-content-unit__body p {
    font-size: 1.5625rem;
  }
}

.p-top-mainview {
  height: 100vh;
  position: relative;
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-top-mainview {
    margin-bottom: 2.0625rem;
  }
}

.p-top-mainview > .wrap {
  height: inherit;
  padding: 0;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.p-top-mainview .swiper-container ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.15;
  z-index: 1;
}

.p-top-mainview .swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.p-top-mainview .slide-img img {
  display: block;
  height: 100vh;
}

.p-top-mainview__titlebox {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
  z-index: 5;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__titlebox {
    top: 44%;
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.p-top-mainview__title {
  font-size: 27px;
  font-size: 1.6875rem;
  line-height: 1;
  display: block;
  width: 100%;
  margin-bottom: 27px;
  margin-bottom: 1.6875rem;
  letter-spacing: 0.03em;
  margin-top: 1px;
  margin-top: 0.0625rem;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__title {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1.375rem;
    margin-top: 4px;
    letter-spacing: 0.01em;
  }
}

.p-top-mainview__subtitle {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-top-mainview__subtitle {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-top: 1.5625rem;
    letter-spacing: 0.02em;
  }
}

.p-top-news {
  margin-bottom: 122px;
  margin-bottom: 7.625rem;
}
@media screen and (min-width: 768px) {
  .p-top-news {
    padding: 0 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 65.125rem;
    width: 100%;
    margin: auto;
    margin-bottom: 9.375rem;
  }
}

.p-top-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .p-top-news__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__item {
    max-width: 53.75rem;
  }
}

.p-top-news__footer {
  padding-top: 10px;
  padding-top: 0.625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-top-news__footer {
    padding-top: 0;
    margin-left: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 15%;
            flex: 0 1 15%;
  }
}

.p-top-news__button {
  display: inline-block;
  padding: 10px;
  padding: 0.625rem;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  color: #fff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-top-news__button {
    background-color: #fff;
    border: none;
    padding: 0.1875rem 1.5625rem;
    position: relative;
    display: inline-block;
    color: #111;
    text-align: center;
    width: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13%;
            flex: 0 0 13%;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    background: #333;
    border: 1px solid #333;
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@media screen and (min-width: 768px) {
  .p-top-news__button:hover {
    color: #fff;
  }
}

.p-top-overview {
  margin-bottom: 71px;
  margin-bottom: 4.4375rem;
}
@media screen and (min-width: 768px) {
  .p-top-overview {
    margin-bottom: 14.6875rem;
  }
}

.p-top-overview__header {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .p-top-overview__header {
    margin-bottom: 0.25rem;
  }
}

.p-top-overview__bg {
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .p-top-overview__bg {
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(70%, transparent), to(transparent));
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 70%, transparent 100%);
    margin-top: -4px;
  }
}

@media screen and (min-width: 768px) {
  .p-top-overview__container {
    padding: 5rem 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

.p-top-overview__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .p-top-overview__img {
    width: 50%;
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-top-overview__body {
    padding-right: 2rem;
    width: 50%;
  }
}

.p-top-works__bg {
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .p-top-works__bg {
    background: -webkit-gradient(linear, left top, right top, from(#111), color-stop(30%, #111), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, #111 0%, #111 30%, #333 30%, #333 100%);
  }
}

@media screen and (min-width: 768px) {
  .p-top-works__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-top-works__img {
    width: 50%;
    background-color: transparent;
  }
}

.p-top-works__img .swiper-pagination-bullet {
  background-color: #c4c4c4;
  margin-left: 5px;
  margin-left: 0.3125rem;
  margin-right: 5px;
  margin-right: 0.3125rem;
}

.p-top-works__img .swiper-pagination-bullet-active {
  background-color: #F9F871;
}

.p-top-works__img .swiper-pagination {
  position: static;
  margin-top: 12px;
  margin-top: 0.75rem;
}

.p-top-works__body {
  padding: 0 20px;
  padding-top: 0;
  margin-top: -6px;
}
@media screen and (min-width: 768px) {
  .p-top-works__body {
    width: 50%;
    padding: 0;
    padding-left: 2.5rem;
    background-color: transparent;
  }
}

.p-top-works__body {
  padding: 0 20px;
  padding-top: 0;
  margin-top: -6px;
}
@media screen and (min-width: 768px) {
  .p-top-works__body {
    width: 50%;
    padding: 0;
    padding-left: 2.5rem;
    background-color: transparent;
  }
}

.p-works-mainview {
  background-image: url(/wp-content/themes/codeups-kadai/images/works/sp/works-MV.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .p-works-mainview {
    background-image: url(/wp-content/themes/codeups-kadai/images/works/pc/works-MV.jpg);
  }
}

.p-works-single {
  margin-top: 66px;
  margin-top: 4.125rem;
}

.p-works-single__inner {
  margin-top: 53px;
  margin-top: 3.3125rem;
}
@media screen and (min-width: 768px) {
  .p-works-single__inner {
    margin-top: 5.625rem;
  }
}

.p-works-single__swiper {
  width: 100%;
  max-width: 800px;
  max-width: 50rem;
  margin: 40px auto;
}

.p-works-single__slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.p-works-single__slider .swiper-slide {
  width: auto;
  height: auto;
}

.p-works-single__slider .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  max-width: 37.5rem;
  height: 250px;
  height: 15.625rem;
}
@media screen and (min-width: 768px) {
  .p-works-single__slider .swiper-slide img {
    width: 50rem;
    height: 26.75rem;
  }
}

.p-works-single__slider .swiper-button-prev {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  background-image: url(/assets/images/works-detail/btn-prev.png);
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .p-works-single__slider .swiper-button-prev {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.works-page-slider .swiper-button-next {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  background-image: url(/assets/images/works-detail/btn-next.png);
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .works-page-slider .swiper-button-next {
    width: 3.125rem;
    height: 3.125rem;
  }
}

.p-works-single__thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.p-works-single__thumbs .swiper-slide {
  width: auto;
  height: auto;
  text-align: center;
  overflow: hidden;
  margin-right: 8px;
  margin-right: 0.5rem;
}

.p-works-single__thumbs .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 163px;
  width: 10.1875rem;
  height: 163px;
  height: 10.1875rem;
}
@media screen and (min-width: 768px) {
  .p-works-single__thumbs .swiper-slide img {
    width: 5.8125rem;
    height: 5.8125rem;
  }
}

.p-works-single__points {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .p-works-single__points {
    margin-top: 5rem;
  }
}

.p-works-single__point:not(:first-child) {
  margin-top: 48px;
  margin-top: 3rem;
}

.p-works__category {
  margin-top: 85px;
  margin-top: 5.3125rem;
}
@media screen and (min-width: 768px) {
  .p-works__category {
    margin-top: 7.1875rem;
  }
}
/*# sourceMappingURL=styles.css.map */
