@use 'global' as *;

.c-hamburger {
  z-index: 9999;

  @include mq('md'){
    display: none;
  }
}

.c-hamburger span {
  position: relative;
  display: block;
  height: rem(2);
  width: rem(22);
  background: #fff;
  transition: transform 0.3s ease 0s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: rem(4) 0;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -7px;
  transform: rotate(-45deg);
}

/*is-OPEN時の中身*/
@keyframes open{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}
