@use 'global' as *;

.c-pagination__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-pagination__container :not(:first-child) {
  margin-left: rem(16);

  @include mq('md'){
    margin-left: rem(24);
  }
}

.c-pagination__container ul {
  display: flex;
}

.c-pagination__container a {
  display: inline-block;
  padding: rem(2) rem(8);
  border: 1px solid $white;

  @include mq('md'){
    padding: rem(3) rem(10);
  }
}

// .c-pagination__container span {
//   color: $ac-pink;
//   background-color: $white;
// }

.page-numbers.current {
  display: inline-block;
  padding: rem(2) rem(8);
  color: $ac-pink;
  background-color: $white;

}
