@use 'global' as *;

.p-content__img1 {
  background-image: url(../images/pc/pc-MV5.jpg);
}

.p-content__img2 {
  background-image: url(../images/pc/pc-MV4.jpg);
}

.p-content__img3 {
  background-image: url(../images/content/content3.jpg);
}

.p-content__img4 {
  background-image: url(../images/pc/pc-MV6.jpg);
}
