@use 'global' as *;

.p-content-mainview {
  background-image: url(../images/sp/sp-MV6.jpg);
  background-size: cover;
  background-position: center;

  @include mq('md'){
    background-image: url(../images/pc/pc-MV6.jpg);
  }
}


.p-content-mainview h1 {
  z-index: 2;
}
