@use 'global' as *;

.p-news__list {
  @include mq('md'){
    width: 80%;
    margin: auto;
    max-width: 900px;

  }
}

.p-news__item {
  @include mq('md'){
    width: 100%;
    // max-width: rem(880);
  }
}

.p-news__item .p-news-item__title {
  margin-right: 0;
}
