@use 'global' as *;

.p-works-single{
  margin-top: rem(66);
}

.p-works-single__inner {
  margin-top: rem(53);

  @include mq('md'){
    margin-top: rem(90);
  }
}
//スライダー
//ギャラリー
.p-works-single__swiper {
  width: 100%;
  max-width: rem(800);
  margin: 40px auto;
}

  //メイン
.p-works-single__slider {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.p-works-single__slider .swiper-slide {
  width: auto;
  height: auto;
}

.p-works-single__slider .swiper-slide  img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  max-width: rem(600);
  height: rem(250);

  @include mq('md'){
    width: rem(800);
    height: rem(428);
  }
}

// .gallery-slider .swiper-button-prev {
//   background-image: url(/assets/images/works-detail/btn-prev.png);
//   left: 0;
//   background-size: cover;
// }

.p-works-single__slider .swiper-button-prev{
  width: rem(30);
  height: rem(30);
  background-image: url(/assets/images/works-detail/btn-prev.png);
  background-size: contain;

  @include mq(md){
    width: rem(50);
    height: rem(50);
  }
}

.works-page-slider .swiper-button-next{
  width: rem(30);
  height: rem(30);
  background-image: url(/assets/images/works-detail/btn-next.png);
  background-size: contain;

  @include mq(md){
    width: rem(50);
    height: rem(50);
  }
}

// .swiper-button-next::after {
//   background-image: url(/assets/images/works-detail/btn-next.png);
//   position: relative;
//   width: 30px;
//   height: 30px;
//   background-size: contain;
// }

//サムネイル
.p-works-single__thumbs {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.p-works-single__thumbs .swiper-slide {
  width: auto;
  height: auto;
  text-align: center;
  overflow: hidden;
  margin-right: rem(8);

  // &-active {
    //     opacity: 1;
    // }

}

.p-works-single__thumbs .swiper-slide img {
  object-fit: cover;
  width: rem(163);
  height: rem(163);

  @include mq('md'){
    width: rem(93);
    height: rem(93);
  }
}
// .gallery-thumbs .swiper-slide:not(:first-child) {
//   margin-left: rem(8);
// }


  // 制作実績詳細のスライダー
  //サムネイル
  // var thumbs = new Swiper ('.works-page-slider-thumbs', {
  //   slidesPerView: 'auto',
  //   spaceBetween: 10,
  //   centeredSlides: true,
  //   loop: true,
  //   slideToClickedSlide: true,
  // });
  // //メイン
  // var slider = new Swiper ('.works-page-slider', {
  //   slidesPerView: 1,
  //   centeredSlides: true,
  //   loop: true,
  //   loopedSlides: 8, //スライドの枚数と同じ値を指定
  //   autoplay: {
  //     delay: 4000,
  //     disableOnInteraction: true,
  //   },
  //   speed:2000,
  //   navigation: {
  //       nextEl: '.swiper-button-next',
  //       prevEl: '.swiper-button-prev',
  //   },
  // });
  // //4系～
  // //メインとサムネイルを紐づける
  // thumbs.controller.control = slider;
  // slider.controller.control = thumbs;

.p-works-single__points {
  margin-top: rem(50);

  @include mq('md'){
    margin-top: rem(80);
  }
}

.p-works-single__point:not(:first-child) {
  margin-top: rem(48);
}
