@use 'global' as *;

.p-works-mainview  {
  background-image: url(../images/works/sp/works-MV.jpg);
  background-size: cover;
  background-position: center;

  @include mq('md'){
    background-image: url(../images/works/pc/works-MV1.jpg);
  }

}
