@use 'global' as *;

/*===========================================
sp-nav
===========================================*/
.l-header {
  width: 100%;
  background-color: rgba(97, 70, 70, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: rem(50);
  z-index: 8888;
  transition: opacity 0.3s ease 0s;
}

.l-header.change-color {
  background-color: rgba(97, 70 , 70, 1);
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
  width: inherit;
  padding: 0 $padding-sp;

  @include mq('md'){
    padding-left: rem(32);
    padding-right: 0;
  }
}

.l-header__logo {
  width: rem(70);
  // height: rem(50);
  position: relative;
  z-index: 9999;

  @include mq('md'){
    width: rem(95);
  }
}

.l-header__logo a {
  width: inherit;
}

.l-header__logo img {
  // width: inherit;
  height: inherit;

  @include mq('md'){
    padding-top: rem(2);
  }
}
